body {
  background: #f8f8f8;
  color: #404040;
  margin: 0;
}

/* The page is split between map and sidebar - the sidebar gets 2/5, map
gets 3/5 of the page. You can adjust this to your personal liking. */
#map {
  position: absolute;
  border-left: 1px solid #fff;
  width: 100%;
  top: 0%;
  bottom: 0%;
}


.overlay {
    background-color: #fff;
    border-radius: 3px;
    top: 0%;
    left: 0%;
    width: 25%;
    bottom: 0%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    position: absolute;
    z-index: 1;

}

.overlay div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

#switch {
    right: 0%;
    bottom:0%;
    width: 10%;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
    border-radius: 3px;
}


#marker {
    background-color: #B42222;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.overlay .list-group {
    overflow: auto;
    max-height: 80%;
}

.overlay .list-group .list-group-item {
    background: rgba(206, 206, 206, 0.8);
}

.overlay .list-group > * {
    display: block;
    padding: 5px 10px;
    margin: 0;
}

..list-group a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #404;
    text-decoration: none;
}

..list-group a:last-child {
    border: none;
}

..list-group a:hover {
    background: #f0f0f0;
}