<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta charset="UTF-8">
    <title>Modemkarte Startseite</title>
</head>
<body>
    <div class="col-md-12">
        <h1>Startseite der Komro Modemkartenanwendung</h1>
    </div>

    <br>
    <div class="col-md-4">
        <h2>Kartenansichten</h2>
        <a href="map_default" >Karte</a>
        {% for g in geoj %}
        <br>
        <a href="/map/{{ g.name }}">{{ g.name }}</a>
        {% endfor %}
        <br>
    </div>

    <div class="col-md-4 col-md-offset-4">
        <h2>Datenbanken</h2>
        <a href="all">Modems</a>
        <br>
        <a href="address">Adressen</a>
        <br>
    </div>

    <div class="col-md-4 col-md-offset-4">
        <br>
        <br>
        <h2>Geodaten</h2>
        <a href="geojson">Auflistung Geojsons</a>
        <br>
        <a href="geocode">Geokodierungstabelle</a>
    </div>
<script type="text/javascript">


</script>

</body>
</html>