<!DOCTYPE html>
<html>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <body>

      <h3>Adressen - anlegen</h3>
      <hr/>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <div class="col-md-6">
      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Bezeichnung:</label><br>
         <input type = "text" name = "name" placeholder = "name" /><br>
         <label for = "street">Straße:</label><br>
         <input type = "text" name = "street" placeholder = "street" /><br>
         <label for = "number">HausNr.:</label><br>
         <input type = "text" name = "number" placeholder = "number" /><br>
         <label for = "plz">PLZ:</label><br>
         <input type = "text" name = "plz" placeholder = "plz" /><br>
          <label for = "city">Stadt:</label><br>
         <input type = "text" name = "city" placeholder = "city" /><br>
          <label for = "mac">MAC:</label><br>
         <input type = "text" name = "mac" placeholder = "mac" /><br>
         <br>
         <input type = "submit" value = "Submit" />
      </form>
         </div>

   </body>
</html>