<!DOCTYPE html>
<html lang = "en">
   <head>
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   </head>
   <body>

      <h3>
         <a href = "{{ url_for('show_all') }}">Modemübersicht</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

            <h3>Modems (<a href = "{{ url_for('new') }}">hinzufügen
         </a>)</h3>

      <table class="table">
         <thead>
            <tr>
               <th>Modelname</th>
                <th>MAC</th>
               <th>Wert</th>
               <th>Status</th>
            </tr>
         </thead>

         <tbody>
            {% for modem in modems %}
               <tr>
                  <td>{{ modem.modelname }}</td>
                   <td>{{ modem.mac }}</td>
                  <td>{{ modem.wert }}</td>
                  <td>{{ modem.status }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>